body.martha {
  text-color: white;
  background-color: #efa59a;

  .header-primary .navigation {
    background-color: #efa59a;
  }

  .header-primary .navigation a {
    color: white;
  }

  h1 {
    text-align: right;
  }

  h1 img{
    max-width: 100%;
  }

  h2 {
    margin-top: 0;

    img {
      max-width: 100%;
    }
  }

  .container {
    width: 100%;
  }

  .row {
    padding: 30px;
  }

  .row.header {
    padding-top: 0;
  }

  .clean {
    padding: 0;
  }

  @media only screen and (min-width: 768px) {
    .description {
      column-gap: 40px;
      column-count: 2;
    }
  }

  .description, .form {
    padding: 30px;
  }

  .credits {
    padding-inline-start: 0;
    li {
      list-style-type: none;
    }
  }

  .full-image, .full-image-left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    background-image: image-url("/images/martha/action.jpg");
  }

  .full-image-left {
    background-position: left;
  }

  .full-image-top {
    background-position: top;
    min-height: 650px;
  }

  .call-to-action {
    padding: 25px;
    p {
      margin-top: 25px;
    }
  }

  .quotation {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 50px;

    .quote {
      font-weight: bold;
      font-size: 2em;
    }

    .author {
      text-transform: uppercase;
    }
  }

  .tickets {
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.4em;

    td {
      padding-bottom: 7px;
      padding-right: 35px;
    }

    a {
      font-weight: normal;
      color: white;
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    tr {
      margin-bottom: 20px;
    }
  }

  .light-purple {
    background-color: #b0b6e6;
    color: #e3d572;

    p {
      color: #fff6b4;
      line-height: inherit;
    }

    img {
      max-width: 100%;
    }
  }

  .yellow {
    background-color: #e3d572;
    img {
      max-width: 100%;
    }
  }

  .dark-purple {
    background-color: #c063ef;
    color: white;
  }

  .orange {
    background-color: #ffa263;
  }

  .video {
    text-align: center;
    margin-top: 35px;
  }

  .youtube-container {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 850px;
  }

  @media(max-width: 991px) { /* <== You can change this break point as per your  needs */
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  .white {
    background-color: white;
    color: black;

    img {
      max-width: 100%;
      padding: 10px;
    }
  }

  .prominent-button.btn, .prominent-button.btn:visited {
    color: color(srgb 0.9046 0.995 0.168);
    background-color: #c063ef;
    border-color: #e4d473;
    font-weight: bold;
    border-radius: 10px;
    &:hover {
      color: #c063ef;
      background-color: color(srgb 0.9046 0.995 0.168);
      border-color: #c063ef;
    }
  }

  .game-button {
    position: absolute;
    top: 10em;
    left: 10%;
    z-index: 100;
    @media only screen and (max-width: 768px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      top: 5em;
      left: 5%;
    }

    .btn, .btn:visited {
      color: color(srgb 0.9046 0.995 0.168);
      background-color: #c063ef;
      border-color: #e4d473;
      font-weight: bold;
      font-size: 2em;
      transform: rotate(-20deg);
      border-radius: 20px;
      &:hover {
        color: #c063ef;
        background-color: color(srgb 0.9046 0.995 0.168);
        border-color: #c063ef;
      }
    }
  }

  .up {
    display: none;
  }

  .left {
    display: inline;
  }

  @media only screen and (max-width: 992px) {
    .up {
      display: inline;
    }

    .left {
      display: none;
    }
  }

  p {
    text-align: justify;
  }

  .btn-primary {
    color: black;
    background-color: #e4d473;
    border-color: #e4d473;
  }

  .press {
    a {
      text-decoration: underline;
      text-transform: uppercase;
    }

    blockquote {
      font-size: 1em;
    }
  }
}
